<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mijn Website</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=B612+Mono&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/composition.css">
    <link rel="stylesheet" href="/assets/css/utilities.css">
    <link rel="stylesheet" href="/assets/css/blocks.css">

</head>
<body>
    <header>
        <!--de menubalk -->
        <nav id="main-menu">

            <!--# want geen link-->
            <a href="#">home</a>

            <!--link naar de eerste en tweede blogpost-->
            <a href="/_posts/2021-05-27-first-post.md">bolg 1</a>

            <a href="/_posts/2021-06-01-second-post.md">blog 2</a>

            <!--link naar about me-->
            <a href="index.md">about me</a>

            <!--projecten staan in de menubalk-->
            <a href="/_projects/knifetyson.md">knife tyson</a>

            <a href="/_projects/mijnportfolio.md">mijn portfolio</a>

            <a href="/assets/Javascript/classes/TsunamiGame.js">TsunamiGame</a>


    </nav>
    </header>

    <main id="{{page.layout}}">
        {{content}}
    </main>

    <footer class="text-dominant">
        <p>
            gecreerd door stef van 5bin
        </p>
    </footer>
</body>
</html>